<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ADO.Properties.Settings.MainConnectionString"
            connectionString="Server=DESKTOP-IH4LM0K;Database=BT;Trusted_Connection=True;"
            providerName="System.Data.SqlClient" />
        <add name="ADO.Properties.Settings.BTConnectionString" connectionString="Data Source=DESKTOP-JH1VST5\SQLEXPRESS;Initial Catalog=BT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>